#viewer {
  padding-top: 56px;
}

#nav-column {
  position: fixed;
}

#nav-list.collapse {
  max-height: calc(100vh - 56px);
}

@media (min-width: 992px) {
  #viewer {
    padding-top: 0;
  }

  #nav-column {
    position: static;
  }

  #nav-list.collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.media img {
  width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.media-body {
  word-break: break-word;
}